!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Exposition
    = stylesheet_link_tag    'exposition/admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'exposition/admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.admin
      %ul
        %li= link_to "Posts", exposition.admin_posts_path
        %li= link_to "Tags", exposition.admin_tags_path
        %li= link_to "Book Reviews", main_app.admin_book_reviews_path
      - if logged_in?
        %ul.login
          %li= link_to current_user.name, exposition.admin_posts_path
          %li= link_to t('sessions.destroy'), exposition.admin_logout_path, method: :delete
    - if flash.any?
      .flashes
        - user_facing_flashes.each do |key, value|
          %div{:class => "flash-#{key}"}= value
    = yield
