%section.login
  %h2= "Login"
  = form_for :session, url: admin_login_path do |f|
    %p
      = f.label :email
      = f.text_field :email
    %p
      = f.label :password
      = f.password_field :password
    %p= f.submit "#{t("sessions.submit")}"
