%section.new-tag
  .admin-title-header
    %h2 Edit Tag
    = link_to "Back to Tags", admin_tags_path
  = form_for @tag, url: admin_tag_path(@tag), method: :patch do |f|
    = render partial: 'error_handler', locals: { model: @tag }
    %p
      = f.label :label
      = f.text_field :label
    %p= f.submit
