%section.edit-post
  %h2= "Editing Post: #{@post.title}"
  = form_for @post, url: admin_post_path(@post), method: :patch do |f|
    = render partial: 'error_handler', locals: { model: @post }
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :body
      = f.text_area :body
    %p
      = f.label :published
      = f.check_box :published
    %p= f.submit
