%section.posts
  .admin-title-header
    %h2 Posts
    = link_to "Add New", new_admin_post_path
  %table 
    %thead
      %tr
        %th Title
        %th Article
        %th Author
        %th Slug
        %th Manage
    %tbody
      - @posts.each do |post|
        %tr{class: "#{post.css_classes}"}
          %td= "#{post.title}"
          %td= "#{post.author.name}"
          %td= truncate(post.body, length: 40, separator: ' ')
          %td= "#{post.slug}"
          %td= link_to "Edit", edit_admin_post_path(post)
