%section.new-post
  %h2= "New Post"
  = form_for @post, url: admin_posts_path, method: :post do |f|
    = render partial: 'error_handler', locals: { model: @post }
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :body
      = f.text_area :body
    %p= f.submit
