%section.new-post
  .admin-title-header
    %h2 New Post
    = link_to "Back to Posts", admin_posts_path
  = form_for @post, url: admin_posts_path, method: :post do |f|
    = render partial: 'error_handler', locals: { model: @post }
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :body
      = f.text_area :body
    %p
      = f.label :author
      = f.collection_select(:author_id, @authors, :id, :name)
    %p
      = f.label :slug
      = f.text_field :slug
    %p
      = f.label :published
      = f.check_box :published
    %p= f.submit
