%article
  %time= "Published #{l(post.created_at.to_date, format: :long)}"
  .content.summary
    %h3= link_to(post.title, post)
    = preserve do
      = post.body.html_safe
  -# %section.info
  -#   = render 'posts/tags', tags: post.tags
